@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/pdx5wfj.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #232323;
  letter-spacing: -0.5px;
  font-family: Degular, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
